@import "../../styles/config.scss";

.signin_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid $text-color;
  padding: 2rem;
  width: 50%;
  margin: 2rem auto;
  text-align: center;

  label {
    display: block;
    padding: .5rem;
  }

  input {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: .2rem solid $text-color;
    margin-bottom: 2rem;
    color: $text-color;
    outline: none;
  }

  button {
    color: $text-color;
    background: transparent;
    border: .1rem solid $text-color;
    padding: .5rem 10rem;
  }
}

@media (max-width: 767px) {
  .signin_form {
    width: 100%;
    border: none;
  }
}