@import "../../styles/config.scss";

.contact_form {
  border: .1rem solid $text-color;
  padding: 2rem;
  width: 50%;
  margin: 2rem auto;

  label {
    display: block;
    padding: .5rem;
  }

  input, textarea {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: .2rem solid $text-color;
    margin-bottom: 2rem;
    color: $text-color;
    outline: none;
  }

  textarea {
    border: .2rem solid $text-color;

  }
}


@media (max-width: 767px) {
  .contact_form {
    width: 100%;
    border: none;
  }
}