.about_wrapper {
    &-text {
        width: 25%;
        position: absolute;
        background: rgba(40,40,40,0.5);
        padding: 3rem;
        left: 12.5%;
        top: 50%;
        transform: translateY(-50%);

        h3 {
            padding: 2rem 0;
        }
    }
    img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 1245px) {
    .about_wrapper {
        margin-bottom: 20rem;

        &-text {
            display: block;
            width: 50%;
            font-size: 14px;
            padding: 3rem;
            left: 50%;
            top: 90%;
            transform: translate(-50%);
        img {
            width: 100%;
        }
    }

}


}

@media (max-width: 486px) {
    .about_wrapper {
        margin-bottom: 20rem;

        &-text {
            display: block;
            width: 100%;
            font-size: 14px;
            padding: 3rem;
            left: 50%;
            top: 90%;
            transform: translate(-50%);

        }
        img {
            width: 100%;
        }

    }


}