.content_wrapper {
    max-width: 1245px;
    width: 100%;
    margin: auto 0;
    text-align: center;
}

@media (max-width: 1246px) {
    .content_wrapper {
        text-align: center;
        padding: 1rem 1rem 16rem 1rem;
    }
}

@media (max-width: 767px) {
    .content_wrapper {
        text-align: center;
        padding: 0rem 0rem 16rem 0rem;
    }
}
