@import "../../styles/config";

.footer {
  font-size: 1.4rem;
  background: $header-footer-bg;
  background: $ft-gradient;
  position: fixed;
  height: 11rem;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 2rem;

  .copyright {
    font-size: 1.4rem;
  }

  .social_network-links {
    display: flex;
    justify-content: center;
    margin-top: .5rem;

    li + li {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 1245px) {
  .footer {
    font-size: 1.4rem;
    padding: 2rem;
  }
}


@media (max-width: 767px) {
  .footer {
    padding: 0;
    height: 8rem;
    font-size: 1.2rem;

    .copyright {
      font-size: 1.2rem;
    }

    .social_network-links {
      margin-top: -0.5rem;
    }

    .social_networks-wrapper, ul {
      display: inline-block;
      padding: 1rem;
    }
  }
}