.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 3rem;
    .logo {
        width: 95px;
        padding: 1rem;
        text-align: center;
        background: #ffffff;
        color: #000000;
        font-size: 4.6rem;
        letter-spacing: 0.3rem;

        a {
            position: relative;
            margin-left: 10px;
        }
        span {
            position: absolute;
            right: 19px;
            top: -9px;
        }
        .sub-logo {
            margin-top: -10px;
            letter-spacing: 0;
            font-size: 1rem;
        }
    }
}