.header {
    margin-bottom: 4rem;
    padding: 1rem 1rem 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    .logo {
        width: 95px;
        padding: 1rem;
        text-align: center;
        background: #ffffff;
        color: #000000;
        font-size: 4.6rem;
        letter-spacing: 0.3rem;

        a {
            position: relative;
            margin-left: 10px;
        }
        span {
            position: absolute;
            right: 19px;
            top: -9px;
        }
        .sub-logo {
            margin-top: -10px;
            letter-spacing: 0;
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 2rem;
    }
}
@media (max-width: 420px) {
    .header {
        margin-bottom: 1rem;
    }
}