@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

$main-background: #383838;
$hd-gradient: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(8,8,8,0.5242471988795518) 60%, rgba(80,80,80,0) 100%);
$ft-gradient: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(8,8,8,0.5242471988795518) 60%, rgba(80,80,80,0) 100%);
$header-footer-bg: rgba(0,0,0, .3);
$text-color: #b8860b;
